<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101282996198-3t9i40548pte1jb94gc6231gkq4lf78r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101282996198-3t9i40548pte1jb94gc6231gkq4lf78r</string>
	<key>API_KEY</key>
	<string>AIzaSyD3SXFyAE9IvCHqv3RVcHAUkPzf_TvDihQ</string>
	<key>GCM_SENDER_ID</key>
	<string>101282996198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pondokApp</string>
	<key>PROJECT_ID</key>
	<string>pondok-app-23ae1</string>
	<key>STORAGE_BUCKET</key>
	<string>pondok-app-23ae1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101282996198:ios:85efbc1389ace132270027</string>
</dict>
</plist>